# dist file for TexUtils

git      /extensions/TexUtils            https://github.com/OpenEngineDK/extensions-TexUtils.git
git-dev  /extensions/TexUtils            git@github.com:OpenEngineDK/extensions-TexUtils.git

